<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="static/styles/about.css">
</head>

<body class="priya">
<div class="neha">

    <div class="about">
        <span class="connect">
             <h1 class="megha"><u>About Us</u></h1>
            </span><br>
        <h1 class="megha"> FarmConnect</h1><br>
        <h2 class="megha">About Us</h2><br>
        <h3>FarmConnect is a digital platform to connect farmers with Farmers Producers Organization(FPO'S) dedicated to
            reduces time and efforts of farmers.</h3><br>
            <h2 class="megha">Our Mission</h2>
            <h3>Our Mission is to create a well connected digital source that will help the farmers to access the all services that are available offline <br>
            </h3> <b><h2 class="megha"> What We Offer</b></h2><br>
            <b><h3 class="megha">1.Machines for Rent:</b></h3><br><h3> We provides the all Machines that are used on the field for rent and not only the Machines, We also provides the chemicals,tools to buy or want for rent.</h3><br>
            <b><h3 class="megha">2.Weather Updates:</b></h3><br><h3> Our website provides the weather information ,This information is very usefull for farmers to predict the weather updates</h3><br>
            <b><h3 class="megha">3.Market trends:</b></h3><br><h3>we provides the Market trends that shows different different crops price rates for different dates</h3><br>
            <br><b><h2 class="megha">Why Choose Us</b></h3><br>
           <h3> We provide a Dashboard that shows all the data at a single page that is the most effective and time-effective page.</h3><br>
            <br>
            <b> <h2 class="megha"><h3>Our Team</h3></b></h2><br>
           <h3> Meet the passionate individuals behind FarmConnect:</h3><br>
            <br>
            <b><h2 class="megha">Contact Us</b></h2><br>
            <h3>We're here to assist you. Feel free to reach out to us at <a href="Mailto:vermashashank070205@gmail.com" Style="text-decoration: none;">Gmail</a> for any inquiries or
            collaborations.</h3>
        </div>
        
    </div>
    </body>
    
</html>