<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="static/styles/faq.css">
    <title>FAQ's</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
</head>

<body>
    <div class="middle">
        <h1><u> FAQ'S</h1></u>
    </div>

    <div class="question">
        <h2>Got Questions?</h2>
    </div>
    <div class="questions_answers_section">
        <button type="button" class="collapsible">Question 1)What is the primary objective or mission of FPO'S?
        </button>
        <div class="content">
            <p>Answer 1)The primary objective or mission of Farmer Producer Organizations (FPOs) can vary depending on
                the specific context, but generally, their main goals revolve around empowering smallholder farmers and
                enhancing their livelihoods.</p>
        </div>

        <button type="button" class="collapsible">Question 2)How many members does the FPO have?
            What are the criteria for becoming a member?</button>
        <div class="content">
            <p>Answer 2)The number of members in a Farmer Producer Organization (FPO) can vary widely depending on its
                size, geographical area, and organizational structure. Some FPOs may have only a few dozen members,
                while others can have hundreds or even thousands of members.
                <br>As for the criteria for becoming a member of an FPO, it also depends on the specific FPO and its
                policies. However, common criteria for membership may include:

                <br><u>Being a Farmer:</u> Typically, FPOs require members to be actively engaged in agricultural
                activities. This ensures that the organization is composed of individuals who have a direct stake in
                farming and agricultural production.

                <br><u>Landownership or Farming Activity:</u> Membership eligibility may require individuals to own or
                lease agricultural land or be involved in farming activities. This criterion ensures that members have a
                direct connection to agricultural production.

                <br><u>Residency:</u> Some FPOs may require members to be residents of the area served by the
                organization. This helps ensure that the benefits of FPO membership primarily accrue to local farmers
                and communities.

                <br><u>Payment of Membership Fee:</u> FPOs may require members to pay a membership fee or purchase
                shares in the organization. This helps cover operational expenses and demonstrates a commitment to the
                organization's goals and objectives.etc.
            </p>
        </div>

        <button type="button" class="collapsible">Question 3)What types of agricultural products does the FPO focus
            on?</button>
        <div class="content">
            <p>Answer 3)The types of agricultural products that a Farmer Producer Organization (FPO) focuses on can vary
                depending on various factors such as local agro-climatic conditions, market demand, and the expertise
                and preferences of its members.<br>
                Here are some common agricultural products that FPOs may focus on:

                <br><u>Crops:</u>

                <br> Grains (rice, wheat, maize, millets)
                <br>Pulses (lentils, chickpeas, beans)
                <br>Oilseeds (mustard, soybeans, sunflower)
                <br>Fruits (mangoes, bananas, citrus fruits)
                <br>Vegetables (tomatoes, onions, potatoes)
                <br>Spices (chilies, turmeric, coriander)<br>
                <br><u>Horticultural Products:</u>

                <br>Fresh fruits and vegetables
                <br>Floriculture products (cut flowers, ornamental plants)
                <br>Medicinal and aromatic plants (tulsi, aloe vera, lemongrass)<br>
                <br><u>Livestock and Livestock Products:</u>

                <br>Dairy products (milk, yogurt, cheese)
                <br>Poultry (eggs, broiler chickens)
                <br>Meat products (beef, pork, lamb)
                <br>Animal feed (fodder, concentrates)<br>
                <br><u>Fisheries and Aquaculture:</u>

                <br>Freshwater fish (carp, tilapia, catfish)
                <br>Brackishwater and marine fish (shrimp, prawns, pompano)
                <br>Aquaculture products (fish feed, fingerlings)<br>
                <br><u>Value-Added Products:</u>

                <br>Processed foods (jams, pickles, sauces)
                <br>Dairy products (ghee, butter, ice cream)
                <br>Packaged spices and condiments
                <br>Herbal and Ayurvedic products
            </p>
        </div>

        <button type="button" class="collapsible">Question 4)How is the FPO structured in terms of leadership and
            decision-making?

        </button>
        <div class="content">
            <p>Answer 4)<br><u>1.General Body/General Assembly:</u><br> The general body or general assembly consists of all members
                of the FPO. It is the highest decision-making body where major policy decisions, including the election
                of the Board of Directors, are made.<br><u>2.Board of Directors/Management Committee:</u> <br>The Board of Directors or management committee is responsible for overseeing the overall management and administration of the FPO. <br>3.<u>Executive Committee:</u> <br>In some FPOs, there may be an executive committee elected from among the board members. The executive committee often has decision-making authority between board meetings and may handle day-to-day operational matters.<br> </p>
        </div>

        <button type="button" class="collapsible">Question 5)What are the FPO's plans for future growth and development?</button>
        <div class="content">
            <p>Answer 5)
               <br> The future growth and development plans of Farmer Producer Organizations (FPOs) can vary depending on their specific goals, priorities, and the context in which they operate. However, here are some common areas in which FPOs often focus their efforts for future growth and development:<br>
              <br><u> 1.Membership Expansion:</u><br> FPOs may plan to increase their membership base by recruiting new farmers from underserved areas or by targeting specific demographics such as women, youth, or marginalized communities. Expanding membership enhances the organization's collective bargaining power and strengthens its representation of farmers' interests.
              <br><u>2.Market Diversification:</u><br> FPOs may explore opportunities to diversify their market channels and product offerings to reduce dependency on a single market or crop. This could involve expanding into new geographical markets, exploring export opportunities, or introducing value-added products to capture higher margins.<br>
              <u>3.Value Chain Integration:</u><br> FPOs may aim to strengthen their position within agricultural value chains by integrating vertically or horizontally. Vertical integration may involve backward integration into inputs supply or forward integration into processing and marketing activities. Horizontal integration may involve forming partnerships or alliances with other actors along the value chain.
            </p>
        </div>
    </div>






    <div class="follow">
        <h3>If you have any further Questions<br>Feel free to Contact us Through Email<br></h3>
        <div class="box" >
        <a href="mailto:harshsharmmaa990@gmail.com"><button>Mail us</button></a>
        </div>
    
    </div>
    </div>
    <script>

        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>

</html>