<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Schemes</title>
    <link rel="stylesheet" href="static/styles/schemes.css">
</head>
<body>
    <header classs="priya">
        <h1 class="neha">Ongoing Schemes</h1>
    </header>

    <main><div class="img">
        <section>
            <h2>Pradhan Mantri KISAN Samman Nidhi</h2>
            <p>The Pradhan Mantri Kisan Samman Nidhi (PM-KISAN) is a government scheme launched by the Government of India to provide financial assistance to small and marginal farmers across the country.</p>
            <ul>
                <li><b>Eligibility:</b> The scheme is applicable to all landholding farmers' families across the country, irrespective of the size of their landholding.</li>
                <li><b>Apply:</b> <a href="https://pmkisan.gov.in/">click here</a></li>
                <li><b>Deadline:</b> 01/03/2004</li>
            </ul>
        </section>

        <section>
            <h2>Pradhan Mantri Fasal Bima Yojana</h2>
            <p>The Pradhan Mantri Fasal Bima Yojana (PMFBY) is a crop insurance scheme launched by the Government of India to provide financial support to farmers in the event of crop failure due to natural calamities, pests, diseases, or other unforeseen events.</p>
            <ul>
                <li><b>Eligibility:</b>Farmers must have a valid and authenticated land ownership certificate or a valid land tenancy agreement. </li>
                <li><b>Apply:</b> <a href="https://pmfby.gov.in/">click here</a></li>
                <li><b>Deadline:</b> 05/03/2024</li>
            </ul>
        </section>
        <section>
            <h2>Pradhan Mantri Krishi Sinchai Yojana</h2>
            <p>he major objective of PMKSY is to achieve convergence of investments in irrigation at the field level, expand cultivable area under assured irrigation, improve on-farm water use efficiency to reduce wastage of water, enhance the adoption of precision-irrigation and other water saving technologies .</p>
            <ul>
                <li><b>Eligibility:</b>Farmers must have a valid and authenticated land ownership certificate  </li>
                <li><b>Apply:</b> <a href="https://www.pmksy.gov.in/">click here</a></li>
                <li><b>Deadline:</b> 09/03/2024</li>
            </ul>
        </section>


        <!-- Add more sections for other ongoing schemes -->
    </div>
    </main>

    
</body>
</html>
