.get_started_button {
    background-color: maroon;
    color: white;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.get_started_button:hover{
    opacity: 0.7;
}

.get_started_button:active {
    opacity: 0.4;
}


.learn_more_button {
    background-color: skyblue;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.learn_more_button:hover{
    opacity: 0.7;
}

.learn_more_button:active {
    opacity: 0.4;
}