.product_group {
    min-width: 500px;
    max-height: 500px;
    padding: 10px;
    display: inline-flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.product_details {
    display: inline-flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
